# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Deploy

on:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: prod
    steps:
      - name: Connect to Tailscale
        uses: tailscale/github-action@v4
        with:
          oauth-client-id: ${{ secrets.TS_OAUTH_CLIENT_ID }}
          oauth-secret: ${{ secrets.TS_OAUTH_SECRET }}
          tags: tag:tefnut-prod,tag:ci
      - name: Debug Tailscale connectivity
        run: |
          tailscale status
          tailscale ip -4
          getent hosts "tefnut.tail7a3686.ts.net" || true
          nslookup "tefnut.tail7a3686.ts.net" || true
      - name: Deploy on server
        uses: appleboy/ssh-action@v0.1.4
        with:
          host: tefnut.tail7a3686.ts.net
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.SSH_KEY }}
          port: ${{ secrets.PORT }}
          script: |
            echo "Starting Deploy"
            echo "$(whoami)" > /home/marco/ts-check.txt
