# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: tefnut testing

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

permissions:
  contents: read

jobs:
  build:
    name: tefnut testing
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Install uv
        uses: astral-sh/setup-uv@v7
      - name: Install Python runtime
        run: uv python install 3.14
      - name: Sync dependencies
        run: uv sync
      - name: Create Config
        run: |
          cp _template.settings.toml settings.toml
      - name: Test with pytest and collect coverage
        run: |
          uv run pytest --cov=tefnut --cov-report=xml -W ignore::DeprecationWarning
      - name: Upload coverage reports to Codecov with GitHub Action
        uses: codecov/codecov-action@v4.2.0
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
  ruff:
    name: "Ruff"
    runs-on: "ubuntu-latest"
    steps:
      - name: "Checkout the repository"
        uses: "actions/checkout@v5"
      - name: Install uv
        uses: astral-sh/setup-uv@v7
      - name: Install Python runtime
        run: uv python install 3.14
      - name: Sync dependencies
        run: uv sync --extra dev
      - name: "Run"
        run: uv run ruff check .
  sonarqube:
    name: SonarQube
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Install uv
        uses: astral-sh/setup-uv@v7
      - name: Install Python runtime
        run: uv python install 3.14
      - name: Sync dependencies
        run: uv sync
      - name: Create Config
        run: |
          cp _template.settings.toml settings.toml
      - name: Test with pytest and collect coverage
        run: |
          uv run pytest --cov=tefnut --cov-report=xml -W ignore::DeprecationWarning
      - uses: sonarsource/sonarqube-scan-action@master
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}
